# Clojure
/target
/classes
/checkouts
*.jar
*.class
/.cpcache
/.clj-kondo/.cache
/.lsp/.cache
/.calva

# Editor
*.swp
*~
.project
.settings
.classpath
.idea
*.iml

# OS
.DS_Store

# General
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
